/* boton principal */

a.btn.btn-primary{
    background-color: #72806B !important; /* Reemplaza este valor con el color verde de tu logo */
    border-color: #72806B !important; /* Reemplaza este valor con el color verde de tu logo */
    color: white !important; /* Color del texto */
}

a.btn.btn-primary:hover {
    background-color: #63725B !important; /* Un tono más oscuro para el hover */
    border-color: #55694E !important; /* Un tono más oscuro para el hover */
}

/* boton de paginacion */

a.btn.btn-pagination {
    background-color: #72806B !important; /* Color de fondo */
    border-color: #72806B !important; /* Color del borde */
    color: white !important; /* Color del texto */
    padding: 5px 10px !important; /* Menos relleno */
    margin: 2px !important; /* Menos margen */
}

a.btn.btn-pagination:hover {
    background-color: #63725B !important; /* Un tono más oscuro para el hover */
    border-color: #55694E !important; /* Un tono más oscuro para el hover */
}




/* para dejar el menu arriba */
body {
        padding-top: 70px; /* Ajusta este valor según la altura de tu menú */
}
.fixed-top {
        z-index: 1030;
}

/* botones de menu */
.navbar-nav .nav-link {
        font-size: 18px;
        padding: 10px 20px;
}
.navbar-brand img {
        max-width: 100%;
        height: auto;
}

.body-servicios {
    background-image: url('/Inmobiliaria/images/hall.png'); /* Ruta relativa a la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    min-height: 100vh; /* Asegura que el fondo cubra toda la altura de la página */
    display: flex; /* Opcional: Para permitir centrar contenido */
    flex-direction: column; /* Opcional: Para alinear el contenido */
    justify-content: space-between; /* Opcional: Para alinear encabezado y pie de página */
}



/* color de fonde pie de pagina */
.text-center.p-3.bg-secondary.text-white.custom-bg {
    background-color: #72806B !important;
    
}

html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh; /* Asegura que el body cubra al menos la altura del viewport */
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Coloca los elementos hijos verticalmente */
    margin: 0;
}

/* Contenido principal debe expandirse para llenar el espacio disponible */
.main-content {
    flex: 1; /* Hace que el contenido principal crezca y ocupe el espacio restante */
}

/* Footer siempre al fondo */
footer {
    background-color: #72806B; /* Color del fondo del footer */
    text-align: center;
    padding: 10px 0;
}
